<% course_list.each do |course| %>
<div id="post-263" class="post block_shadow columns eight port2perline all ">
	<div class="thispost porttype preloader_container">
		<div class="post-title-cont">
			<h2 class="post-title">
				<%= link_to course.name, curso_path(course) %>
			</h2>
			<div class="post-meta portype">
				<%= l course.date_time, :format => :long %>
			</div>
		</div>
		<div class="post-content">
			<div class="class-thumbnail">
			<% if course.owned == true%>
				<span class="type_image" title="Curso Kaleydoscopio"></span>

			<%end %>
			<h1 class="precio">$<%= course.price %><span class="decimal">00</span></h1>
				<%= link_to image_tag(course.photo.thumb.url.to_s, :alt => "Kaleydoscopio"), curso_path(course) %>
			</div>
			<p><%= strip_tags(truncate(course.description, :length => 120)) %></p>
			<%= link_to "Click me", curso_path(course), class: "plus_btn" %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>

<% if no_more_results %>
  <div id="no_more_course_results"><h4>Ya no hay cursos</h4></div>
<% end %>

