<% course_list.each do |course| %>
<div id="post-263" class="post block_shadow columns eight port2perline all ">
	<div class="thispost porttype preloader_container">
		<div class="post-title-cont">
			<h2 class="post-title">
				<%= link_to truncate(course.name, :length => 30), curso_path(course) %>
			</h2>
			<div class="post-meta portype">
				<%= course.more_than_one_session ? "Múltiples sesiones" : (l course.date_time, :format => :long).capitalize %>
			</div>
		</div>
		<div class="post-content">
			<div class="class-thumbnail">
			<% if course.owned == true%>
				<span class="type_image" title="Curso Kaleydoscopio"></span>

			<%end %>
			<h1 class="precio"><%= !course.wont_be_bought ? number_to_currency(course.price) : truncate(course.go_to_info, :length => 20) %></h1>
				<%= link_to image_tag(course.photo.thumb.url.to_s, :alt => "Kaleydoscopio"), curso_path(course) %>
			</div>
			<p><%= strip_tags(markdown(truncate(course.description, :length => 120))) %></p>
			<%= link_to "Click me", curso_path(course), class: "plus_btn" %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>

<% if no_more_results %>
  <div id="no_more_course_results"><h4>Ya no hay cursos</h4></div>
<% end %>

