<header>
	<h1 class="headofpage">Clases Disponibles</h1>
</header>
<div class='cpt_sort'>
	<div class='fl'>
		Filtrar por:
	</div>
	<ul class='cpt_filter' id='filter'>
		<li class="act">
			<%=link_to'Todo', root_path%>
		</li>
		<li>
			<a href=#"">Categorias</a>
			<ul class="submenu_categorias">
				<li>
					<a href="?utf8=✓&search[category_in][]=cocina&commit=Crear+Search" title="View Design">Cocina</a>
				</li>
				<li>
					<a href="?utf8=✓&search[category_in][]=arte&commit=Crear+Search" title="View Collage">Arte</a>
				</li>
				<li>
					<a href="?utf8=✓&search[category_in][]=deportes&commit=Crear+Search" title="View Illustration">Deportes</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">Estatus</a>
			<ul class="submenu_categorias">
				<li>
					<a href="?utf8=✓&search[status_in][]=abierto&commit=Crear+Search" title="View Design">Abierto</a>
				</li>
				<li>
					<a href="?utf8=✓&search[status_in][]=cerrado&commit=Crear+Search" title="View Collage">Cerrado</a>
				</li>
				<li>
					<a href="?utf8=✓&search[status_in][]=completed&commit=Crear+Search" title="View Illustration">Completed</a>
				</li>
			</ul>
		</li>
  	<!-- FILTRAR LOS STATUS (ABIERTO,CERRADO,COMPLETADO) -->	
		<% form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
  <% f.checks :status_in, [['Abierto', 'abierto'], ['Cerrado', 'cerrado'], ['Completed', 'completed']], :class => 'checkboxy'  do |check| %>
    <li>
      <% check.box %>
      <% check.label %>
    </li>

  <% end %>
  <!-- etc... -->
  <li><% f.submit %></li>
<% end %>		

<!-- FILTRAR LAS CATEGORIAS (COCINA,ARTE,ETC..) -->
<% form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
  <% f.checks :category_in, [['Cocina', 'cocina'], ['Arte', 'arte'], ['Deportes', 'deportes']], :class => 'checkboxy'  do |check| %>
    <li>
      <% check.box %>
      <% check.label %>
    </li>

  <% end %>
  <!-- etc... -->
  <li><% f.submit %></li>
<% end %>		


		
		
	</ul>
	<div class='clear'></div>
</div>
<div class='clear'></div>
<div class='portrowed perline2'></div><!-- // rowed -->
<script>portrowed(2);</script>
<div class="clear"></div>



<% @courses.each do |course| %>
<div id="post-263" class="post block_shadow columns eight port2perline all ">
	<div class="thispost porttype preloader_container">
		<div class="post-title-cont">
			<h2 class="post-title">
				<%= link_to course.name, curso_path(course) %>
			</h2>	
			<div class="post-meta portype">
				<%= course.date_time %>
			</div>
		</div>
		<div class="post-content">
			<div class="class-thumbnail">
			<% if course.owned == true%>		
				<span class="type_image" title="Curso Kaleydoscopio"></span>
			
			<%end %>
			<h1 class="precio">$<%= course.price %><span class="decimal">00</span></h1>
			<%= image_tag course.photo.thumb.url.to_s, alt: "Clases de fotografia" %>
			</div>
			<p><%= truncate(course.description, :length => 120) %></p>
			<%= link_to "Click me", curso_path(course), class: "plus_btn" %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>
