<% provide(:title, 'Inicio') %>
<% provide(:sino, 'poner') %>

<div class="container contentwrapper">
  <div class="sixteen columns alpha omega portpage">
    <div class="home_marketing">
      <div class="home_marketing_content">
        <h1>Clases interesantes para personas curiosas.</h1>
      </div>
    </div>

    <%=  render :partial => "slider_images" %>

    <header class="home">
      <h3 class="headofpage_home">Clases Disponibles</h3>
    </header>
    <% if flash[:notice] != nil%>
      <div class="about">
        <%= flash[:notice]  %>
      </div>
    <% end %>


    <div class='cpt_sort'>
      <div class='fl'>
        Filtrar por:
      </div>
      <ul class='cpt_filter' id='filter'>
        <li class="act">
          <%=link_to 'Todas', listacursos_path %>
        </li>
        <li>
          <a href="">Categorías</a>
          <ul class="submenu_categorias">
            <li>
              <a href="lista-cursos?utf8=✓&search[category_in][]=culinarias&commit=Crear+Search">Culinarias</a>
            </li>
            <li>
              <a href="lista-cursos?utf8=✓&search[category_in][]=arte&commit=Crear+Search">Artes</a>
            </li>
            <li>
              <a href="lista-cursos?utf8=✓&search[category_in][]=empresariales&commit=Crear+Search">Empresariales</a>
            </li>
            <li>
              <a href="lista-cursos?utf8=✓&search[category_in][]=estilo_de_vida&commit=Crear+Search">Estilo de vida</a>
            </li>
            <li>
              <a href="lista-cursos?utf8=✓&search[category_in][]=tecnologia&commit=Crear+Search">Tecnología</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Estatus</a>
          <ul class="submenu_categorias">
            <li>
              <a href="lista-cursos?utf8=✓&search[status_in][]=abierto&commit=Crear+Search">Abierto</a>
            </li>
            <li>
              <a href="lista-cursos?utf8=✓&search[status_in][]=agotado&commit=Crear+Search">Agotado</a>
            </li>
            <li>
              <a href="lista-cursos?utf8=✓&search[status_in][]=terminado&commit=Crear+Search" >Terminado</a>
            </li>
          </ul>
        </li>

        <!-- FILTRAR LOS STATUS (ABIERTO,CERRADO,COMPLETADO) -->
        <% form_for @search, :url => listacursos_path, :html => {:method => :get} do |f| %>
          <% f.checks :status_in, [['Abierto', 'abierto'], ['Agotado', 'agotado'], ['Terminado', 'terminado']], :class => 'checkboxy'  do |check| %>
            <li>
              <% check.box %>
              <% check.label %>
            </li>

          <% end %>
          <!-- etc... -->
          <% f.submit %>
        <% end %>

        <!-- FILTRAR LAS CATEGORIAS (COCINA,ARTE,ETC..) -->
        <% form_for @search, :url => listacursos_path, :html => {:method => :get} do |f| %>
          <% f.checks :category_in, [['Culinarias', 'culinarias'], ['Artes', 'arte'], ['Empresariales', 'empresariales'], ['Tecnologia', 'tecnologia'], ['Estilo de vida', 'estilo_de_vida']], :class => 'checkboxy'  do |check| %>
            <li>
              <% check.box %>
              <% check.label %>
            </li>

          <% end %>
          <!-- etc... -->
          <% f.submit %>
        <% end %>

      </ul>
      <div class='clear'></div>
    </div>
    <div class='clear'></div>
    <div class="portrowed perline2">
      <div class="clear"></div>

      <%= render :partial => "lc", :locals => {:course_list => @courses, :no_more_results => @no_more_results}%>


      <div class="boton_inscripcion" style="margin: 0px auto; width: 300px;">
        <%= link_to "Ver más clases disponibles", listacursos_path%>


      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
       
      jQuery(window).on("load resize", function(){
        jQuery('ul.slides li').each(function(){
          centerImage(jQuery(this));
        });  
      });
       
      jQuery('ul.slides li').each(function () {
        if (jQuery(this).addEventListener) {  
          jQuery(this).addEventListener("webkitTransitionEnd", centerImage(jQuery(this)), false); // Webkit event
          jQuery(this).addEventListener("transitionend", centerImage(jQuery(this)), false); // FF event
          jQuery(this).addEventListener("oTransitionEnd", centerImage(jQuery(this)), false); // Opera event
        }
      });
      
      function centerImage(obj) {
        var imageHeight, overlap, container = obj;  
        imageHeight = container.find('img').height();
        wrapperHeight = jQuery("ul.slides").height();
        overlap = (wrapperHeight - imageHeight) / 2;
        container.find('img').css('margin-top', overlap);
      }
      
  });
</script>
