<head>
<%= javascript_include_tag "jquery" %>
</head>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container contentwrapper withoutpbg preloader_container">
  <article class="sixteen columns alpha omega pagestyle">
  <div class="contbg" style="width:100%;float:none; clear:both;">

    <div>
	<div class="clase_titulo relative">
		<h2 class="absolute"><%= @course.name %></h2>
		<h1 class="precio_descripcion">$<%= @course.price %>.<span class="decimal">00</span></h1>
		<img class="size-full wp-image-123 foto_descripcion" width="920" height="220" alt="" 			src="<%=@course.photo.large.url.to_s%>" title="about">
	</div>
    </div>

    <div class="description_bar">
    	<div class="description_box descripcion_clase white_container">

				<p><%= markdown (@course.description) %></p>
			</div>

<% unless @course.requisites_student.blank? %>

			<div class="description_box white_container">
<h2>Requisitos</h2>
				<p><%= markdown (@course.requisites_student) %></p>
			</div>
<% end %>
			<div class="description_box white_container">
				<div class="professor-thumb">
					<img class="foto_profesor" src="<%= @course.photo_teacher.url.to_s%>">
				</div>
				<h2><%= @course.teacher_name %></h2>
				<span>Maestr@</span>
				<p><%= markdown (@course.biography_teacher) %></p>
			</div>


<div class="description_box white_container">
<h2>Ubicación</h2>
<span><%= @course.place%></span>
<%= @course.google_map.gsub('width="425"','width="655"').html_safe %>
</div>

<div class="description_box white_container">
<h2>Comentarios</h2>
<div class="fb-comments" data-href= "<%= curso_url(@course) %>" data-num-posts="2" data-width="655"></div>
</div>


    </div>

    <div class="sidebar">
	<div class="sidebar_box white_container2">
		<h3>Fecha</h3>
<p><%= (l @course.date_time, :format => :default).capitalize %> - <%= @course.end_time.strftime("%I:%M %P") %> </p>
	</div>
	<div class="sidebar_box white_container2">
		<div class="cupo">
			<% if @disponibles > 1 %>
			<h3>Quedan <%= @disponibles %>
			Lugares </h3>
        <% else %>
			<h3>Queda <%= @disponibles %>
			Lugar </h3>
			<%end%>
		</div>

		<div class="cantidad">
			<%= form_for([@course, @course.orders.build]) do |f| %>

  			<h4><%= f.label :quantity, "Cantidad" %></h4>
  			<%= f.select :quantity, options_for_select([[1, "1"], [2, "2"], [3, "3"], [4, "4"], [5, "5"]]) %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	$(".boton_inscripcion a").click(function(e){
		e.preventDefault();
		$("#new_order").submit();
		});
	});
</script>
  			<div class="boton_inscripcion">
    				<%= link_to "comprar", "#", :class => "inscribete" %>
  			</div>
			<% end %>
		</div>
	</div>
	<div class="sidebar_box_share white_container clearfix">
		<h3>Comparte la clase!</h3>
		<ul class="share_container clearfix">
			<li>
			<a class="twitter-share-button" data-via="kaleydoscopio_" href="https://twitter.com/share" data-text="Comparte la clase ">Tweet</a>
			<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!	d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
			</li>
			<li>
              <div class="fb-like" data-font="arial" data-show-faces="true" data-width="100" data-layout="button_count" data-send="false" ></div>
</script>

			</li>
		</ul>
	</div>


    </div>

  </div>
  </article>
</div>


