<div class="container contentwrapper withoutpbg preloader_container">
  <article class="sixteen columns alpha omega pagestyle">
  <div class="contbg" style="width:100%;float:none; clear:both;">	
  
    <div>
	<div class="clase_titulo relative">
		<h2 class="absolute"><%= @course.name %></h2>
		<h1 class="precio_descripcion">$<%= @course.price %>.<span class="decimal">00</span></h1>
		<img class="size-full wp-image-123 foto_descripcion" width="920" height="220" alt="" 			src="<%=@course.photo.url.to_s%>" title="about">
	</div>
    </div>
    <div class="description_bar">
    	<div class="description_box descripcion_clase white_container">
	<p><%= @course.description %></p>
	</div>	
	<div class="description_box white_container">
		<div class="professor-thumb">
		<img class="foto_profesor" src="<%= @course.photo_teacher.url.to_s%>">
		</div>
		<h2><%= @course.teacher_name %></h2>
		<p><%= @course.biography_teacher %></p>
	</div>
    </div>
    <div class="sidebar">
	<div class="sidebar_box white_container">
		<h3>Fecha</h3>
		<h5><%= @course.date_time %></h5>
		<h5>5:00pm - 8:00pm</h5>
	</div>    
	<div class="sidebar_box white_container ">
		<div class="cupo">
			<span><%= @course.limit_class_tickets %></span>
			<h3>Lugares Disponibles</h3>
		</div>
		<div class="boton_inscripcion">
			<a class="inscribete" href="#">Inscribete</a>
		</div>
	</div>
	<div class="sidebar_box white_container">
		<h3 class="ubicacion">Ubicación</h3>
		<iframe width="195" scrolling="no" height="300" frameborder="0" src="https://	maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=Col.+Residencial+San+Agust%C3%ADn.+San+Pedro+nl&aq=&sll=40.658905,-4.024454&sspn=1.237613,2.469177&ie=UTF8&hq=Col.+Residencial&hnear=S.+Pedro,+Nuevo+Le%C3%B3n,+M%C3%A9xico&ll=25.498198,-100.175966&spn=0.594686,0.466854&t=m&output=embed" marginwidth="0" 		marginheight="0">
		</iframe>
		<br/>
		<small>
		<a href="https://maps.google.com/maps?f=q&source=embed&hl=es&geocode=&q=Col.+Residencial+San+Agust%C3%ADn.+San+Pedro+nl&aq=&sll=40.658905,-4.024454&sspn=1.237613,2.469177&ie=UTF8&hq=Col.+Residencial&hnear=S.+Pedro,+Nuevo+Le%C3%B3n,+M%C3%A9xico&ll=25.498198,-100.175966&spn=0.594686,0.466854&t=m">Ver 			mapa más grande</a>
		</small>
	</div>
	<div class="sidebar_box_share white_container clearfix">
		<h3>Comparte la clase!</h3>
		<ul class="share_container clearfix">
			<li>
			<a class="twitter-share-button" data-via="kaleydoscopio_"href="https://	twitter.com/share">Tweet</a>
			<script>
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!	d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
			</li>
			<li>
				<div class="fb-like" data-font="arial" data-show-faces="true" data-width="100" data-layout="button_count" data-send="false"></div>
			</li>
		</ul>
	</div>	


    </div>

	-------------------------	

<%= form_for([@course, @course.orders.build]) do |f| %>
  
  <%= f.label :quantity %><br />
  <%= f.select :quantity, options_for_select([[1, "1"], [2, "2"], [3, "3"], [4, "4"], [5, "5"]]) %>

  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
            
          
       
  </div>    
  </article>
</div>



