<% provide(:title, title) %>
<div class="container contentwrapper contactpage">
<div class="columns eleven npl">
	<header>

<h1 class="headofpage"><%= title %></h1>

</header>
		<div class="clear">
		</div>
		<div id="respond" class="type2">
			<div class="cancel-comment-reply">
				<small><a style="display:none;" href="/?p=1#respond" id="cancel-comment-reply-link" rel="nofollow">Click here to cancel reply.</a></small>
			</div>


<%= form_for@contact,:url => route,:html => { :id => "comment-form" } do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
			<div class="alert alert-error">

<% errores = @contact.errors.count %>

<% if errores > 1 %>
<h2><%= errores %>&nbsp;errores encontrados:</h2>
<%else%>
<h2><%= errores%>error encontrado:</h2>
<%end%>
			</div>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="attwarn" style="margin-top:20px;margin-bottom:30px;font-size:20px;"><%= subtitle %></div>

					<div class="attwarn ajaxresponse"></div>

<% if giveclass %>
<%= f.hidden_field :subjects, :value => 4 %>
<% else %>
<div class="commname smallcommf">
<%= f.select :subjects, options_for_select([["Duda",1,{:selected => 'true'}],["Queja",2],
["Sugerencia",3],["Quiero Ofertar un curso",4]),class: "textarea sendername", size: "28" %>
</div>
<br/>
<br/>
<% end %>

	<div class="commnombre smallcommf">
<%= f.text_field :name, class: "textarea sendername", size: "28", placeholder: "Nombre*" %>
	</div>


	<div class="commcorreo smallcommf">
    <%= f.text_field :email, class: "textarea senderemail", size: "28", placeholder: "Correo*" %>
	</div>

	<div class="commtelefono smallcommf">
    <%= f.text_field :phone, class: "textarea feedback_url", size: "28", placeholder: "Telefono*" %>
  </div>

  <div style ="with:600px; float:left;"">
    <%= f.text_area :message, cols: "60", rows: "10", placeholder:"Mensaje*" %>
  </div>


<p>
    <%= f.submit 'Enviar', class: 'black_btn comment_send_btn ajax_send_feedback'%>
<p>

<% end %>


</div>
</div>
<div class="columns four alpha offset-by-one omega presidebar" id="contact_sidebar">
	<aside id="sidebar">
		<div class="sidepanel widget_twitter">
			<div class="compname">kaleydoscopio</div>
					<div class="compaddr">Ave. Losoles 200 Col. Residencial San Agustín. SPGG, NL</div>
				</div>
				<div class="compphone mtyp1">contacto.kaleydoscopio</div>				<div class="mail_icon2 mtyp1">
					<a href="mailto:mail@companyname.com">clases@kaleydoscopio.com</a>
				</div>
				</div>
			</aside><!-- #sidebar -->

		</div>
		<div class="clear"></div>
</div>
