<div class="row">
  <div class="span6 offset3">

    <%= form_for @course, :html => {:multipart => true} do |f| %>
	  <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :category %><br />
      
      <%= select(:course, :category, Course::CATEGORIES.collect {|cat| [ Course.human_attribute_name(cat), cat ] }, {:include_blank => true}) %>
      
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 10 %>
					<div class="alert alert-success">
							<h3><i style="position: relative; top: 3px;" class="icon-info-sign"></i> <a href="http://www.squarespace.com/display/ShowHelp?section=Markdown">Markdown tags</a></h3>
						</div>
    </div>
    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>

    <div class="field">
      <%= f.label :teacher_name %><br />
      <%= f.text_field :teacher_name %>
    </div>

    <div class="field">
      <%= f.label :photo_teacher %><br />
      <%= f.file_field :photo_teacher %>
    </div>


    <div class="field">
      <%= f.label :biography_teacher %><br />
      <%= f.text_area :biography_teacher, :rows => 10 %>
			<div class="alert alert-success">
							<h3><i style="position: relative; top: 3px;" class="icon-info-sign"></i> <a href="http://www.squarespace.com/display/ShowHelp?section=Markdown">Markdown tags</a></h3>
						</div>
    </div>
    <div class="field">
      <%= f.label :place %><br />
      <%= f.text_field :place %>
    </div>
    <div class="field">
      <%= f.label :google_map %><br />
      <%= f.text_area :google_map, :rows => 10 %>
    </div>
    
    <h4>Inicia</h4>
    
    <div class="field">
      <%= f.label :date_time %><br />
      <%= f.text_field :date_time %>
    </div>

    <div style="background-color: #eeeeee; margin: 10px;">
        
      <h4>Termina</h4>
    
      <div class="field">
        <%= f.check_box :more_than_one_session %>  
        <%= f.label :more_than_one_session, :style => "display: inline; margin-top: 10px; margin-bottom: 10px;" %>
      </div>
      
      <div class="field" id="course_end_time">
        <%= f.label :end_time %><br />
        <%= f.text_field :end_time, id: "timepicker.[1]", class: "hasTimepicker" %>
      </div>
      
      <div class="field">
        <%= f.label :finish_time %><br />
        <%= f.text_field :finish_time %>
      </div>
      
      <div class="field">
        <%= f.label :schedule_info %><br />
        <%= f.text_field :schedule_info %>
      </div>

    </div>
    
<script type="text/javascript">
            $(document).ready(function() {
                $('#timepicker\\.\\[1\\]').timepicker({});
            });
        </script>
    <div class="field">
      <%= f.label :requisites_student %><br />
      <%= f.text_area :requisites_student, :rows => 10 %>
<div class="alert alert-success">
							<h3><i style="position: relative; top: 3px;" class="icon-info-sign"></i> <a href="http://www.squarespace.com/display/ShowHelp?section=Markdown">Markdown tags</a></h3>
						</div>
    </div>
    
    <div style="background-color: #eeeeee; margin: 10px;">
      
      <h4>Precio</h4>
      
      <div class="field">
        <%= f.check_box :wont_be_bought %>
        <%= f.label :wont_be_bought, :style => "display: inline; margin-top: 10px; margin-bottom: 10px;" %>
      </div>
      
      <div class="field">
        <%= f.label :price %><br />
        <%= f.text_field :price %>
      </div>
      
      <div class="field">
        <%= f.label :go_to_info %><br />
        <%= f.text_field :go_to_info %>
      </div>
          
    </div>
    
    <div class="field">
      <%= f.label :limit_class_tickets %><br />
      <%= f.number_field :limit_class_tickets %>
    </div>
    <div class="field">
      <label class="checkbox">
      <%= f.check_box :owned %> Es un curso de Kaleydoscopio
      </label>
    </div>
    <br />
    <br />
    <div class="actions">
      <%= f.submit :class => "btn btn-large btn-primary" %> o <%= link_to 'Regresar', courses_path %>
    </div>
  <% end %>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      
      mtos(<%= @course.more_than_one_session %>);      
      no_price_yet(<%= @course.wont_be_bought %>);
        
      $("#course_more_than_one_session").change(function () {
         mtos($(this).is(':checked'));
      });
      
      $("#course_wont_be_bought").change(function () {
         no_price_yet($(this).is(':checked'));
      });
     
    });
    
    function mtos(value){
      if (value) {
        $("#course_end_time").hide();
        $("#course_finish_time").parent().show();
        $("#course_schedule_info").parent().show();
      } else {
        $("#course_end_time").show();
        $("#course_finish_time").parent().hide();
        $("#course_schedule_info").parent().hide();     
      }
    }
    
    function no_price_yet(value){
      if (value) {
        $("#course_price").parent().hide();
        $("#course_go_to_info").parent().show();
      } else {
        $("#course_price").parent().show();
        $("#course_go_to_info").parent().hide();
      }
    }
    
</script>
