
<div class="center hero-unit">
  <h1>Gestion de Cursos</h1>

  <h2>
    Es una pagina para administrar los
    <a href="#">Cursos</a>
    version de Desarrollo
  </h2>
  <%= link_to "Crear curso", new_course_path, class: "btn btn-large btn-primary" %>
</div>

<p ><%= flash[:notice]  %></p>
<div class="row ">
  <aside class="span10">
    <section>
      <h1>
				Lista de cursos
			</h1>
<%= will_paginate %>

<% @courses.each do |course| %>
<%= link_to "Cursos_vistante", curso_path(course), class: "btn btn-large btn-primary" %>
    <h1><%= Course.human_attribute_name("name")  %></h1>
		<%= course.name %>
    <h1><%= Course.human_attribute_name("category") %></h1>
		<%= course.category %>
    <h1><%= Course.human_attribute_name("description") %></h1>
		<%= course.description %>
    <h1><%= Course.human_attribute_name("photo") %></h1>
		<%= image_tag course.photo.url.to_s%>

    <h1><%= Course.human_attribute_name("teacher_name") %></h1>
		<%= course.teacher_name %>
    <h1><%= Course.human_attribute_name("biography_teacher") %></h1>
<%= course.biography_teacher %>

    <h1><%= Course.human_attribute_name("photo_teacher") %></h1>
		<%= image_tag course.photo_teacher.url.to_s%>

    <h1><%= Course.human_attribute_name("Place") %></h1>
<%= course.place %>
    <h1><%= Course.human_attribute_name("google_map") %></h1>
<%= course.google_map %>
    <h1><%= Course.human_attribute_name("date_time") %></h1>
<%= course.date_time %>
    <h1><%= Course.human_attribute_name("requisites_student") %></h1>
<%= course.requisites_student %>
    <h1><%= Course.human_attribute_name("price") %>Price</h1>
<%= course.price %>
    <h1><%= Course.human_attribute_name("pay_link") %></h1>
<%= course.pay_link %>
    <h1><%= Course.human_attribute_name("limit_class_tickets") %></h1>
<%= course.limit_class_tickets %>
    <h1><%= Course.human_attribute_name("facebook_link") %></h1>
<%= course.facebook_link %>
    <h1><%= Course.human_attribute_name("Owned") %></h1>
<%= course.owned %>
    <%= link_to 'Show', course %>
		<%= link_to 'Edit', edit_course_path(course) %>
		<%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %>
<% end %>
<%= will_paginate %>

</section>
  </aside>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>




<br />

<%= link_to 'Crear Curso', new_course_path, class: "btn btn-large btn-primary" %>
