<p ><%= flash[:notice]  %></p>
<div class="row ">
    <aside class="span10">
        <section>
	        <table class="table">
          		<thead>
			        <th style="width:528px"><h1> Lista de cursos </h1>	<p>Total de cursos:<%= @total %></p></th>
		        <th>

                <%= link_to "Exportar a excel", courses_path(:format => 'csv'), class: "btn" %>
                <%= link_to "Crear curso", new_course_path, class: "btn btn-primary" %>


                    </th>
              </thead>
            </table>


            <br/>
            <% if @courses.empty?%>
             <h6>Aun no hay cursos. <%= link_to 'Crea el primero ahora', new_course_path %></h6>
            <% else %>

            <table class="table table-bordered">
              <thead>
                <th><%= sort_link @search, :name %></th>
         				<th><%= sort_link @search, :status %></th>
         				<th><%= sort_link @search, :more_than_one_session %></th>
         				<th><%= sort_link @search, :wont_be_bought %></th>
                <th><%= Course.human_attribute_name("category") %></th>
                <th><%= Course.human_attribute_name("limit_class_tickets") %></th>
                <th><%= Course.human_attribute_name("owned") %></th>
				        <th>Horario</th>
				        <th>Precio</th>
               <th></th>
                <th></th>
                <th></th>
              </thead>


            <% @courses.each do |course| %>
              <tbody>
	              <td><%= course.name %></td>
	              <td><%= course.status %></td>
	              <td><%= course.more_than_one_session ? "Sí" : "No" %></td>
	              <td><%= course.wont_be_bought ? "Sí" : "No" %></td>
               	<td><%= course.category %></td>
               	<td><%= course.limit_class_tickets %></td>
                <% if course.owned == TRUE %>
                  <td>si</td>
			          <% else %>
				          <td>no</td>
                <% end %>
                
                <td>
                  <strong>Inicio:</strong> <%= course.date_time.strftime("%e %b a las %I:%M%P") unless course.date_time.nil? %> <br>
                  <% if course.more_than_one_session %>
                    
                    <strong>Fin:</strong>    <%= course.finish_time.strftime("%e %b a las %I:%M%P") unless course.finish_time.nil? %> <br>
                    <strong>Notas:</strong> <%= course.schedule_info %>
                  <% else %>
                    <strong>Fin:</strong>    <%= course.end_time.strftime("%I:%M%P") unless course.end_time.nil? %> <br>
                  <% end %>
                </td>
                
                <td>
                  <% if course.wont_be_bought %>
                    <%= course.go_to_info %> 
                  <% else %>
                    <%= number_to_currency(course.price) %>
                  <% end %>
                </td>
                
               	<td>
               	  <%= link_to 'Ver', course %><br>
                  <%= link_to 'Editar', edit_course_path(course) %><br>
                  <%= link_to 'Eliminar', course, confirm: '¿Estas seguro?', method: :delete %>
                </td>

               </tbody>
            <% end %>

            <%end%>
            </table>

        </section>
    </aside>
</div>

