<h1>Listing courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Photo</th>
    <th>Teacher name</th>
    <th>Biography teacher</th>
    <th>Place</th>
    <th>Google map</th>
    <th>Date time</th>
    <th>Requisites student</th>
    <th>Price link</th>
    <th>Limt class tickets</th>
    <th>Facebook link</th>
    <th>Kaleyoscopio class</th>
    <th>Teaser</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.category %></td>
    <td><%= course.description %></td>
    <td><%= course.photo %></td>
    <td><%= course.teacher_name %></td>
    <td><%= course.biography_teacher %></td>
    <td><%= course.place %></td>
    <td><%= course.google_map %></td>
    <td><%= course.date_time %></td>
    <td><%= course.requisites_student %></td>
    <td><%= course.price_link %></td>
    <td><%= course.limt_class_tickets %></td>
    <td><%= course.Facebook_link %></td>
    <td><%= course.Kaleyoscopio_class %></td>
    <td><%= course.teaser %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
