

<div class="center hero-unit">
  <h1>Gestion de Cursos</h1>

  <h2>
    Es una pagina para administrar los
    <a href="#">Cursos</a>
    version de Desarrollo
  </h2>
  <%= link_to "Crear curso", new_course_path, class: "btn btn-large btn-primary" %>
</div>

<p ><%= flash[:notice]  %></p>
<div class="row ">
  <aside class="span10">
    <section>
      <h1>
				Lista de cursos
			</h1>
<%= will_paginate %>


<p>Total cursos:<%= @total %></p>
<%= sort_link @search, :name%>
<table class="table table-bordered">

  <thead>
    <th><%= Course.human_attribute_name("name")  %></th>
    <th><%= Course.human_attribute_name("category") %></th>
    <th><%= Course.human_attribute_name("limit_class_tickets") %></th>
    <th><%= Course.human_attribute_name("Owned") %></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>







<% @courses.each do |course| %>
   <tbody>	
	<td><%= course.name %></td>
    	<td><%= course.category %></td>
    	<td><%= course.limit_class_tickets %></td>
    	<td><%= course.owned %></td>
    	<td><%= link_to 'Show', course %></td>
    	<td><%= link_to 'Edit', edit_course_path(course) %></td>
    	<td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
   </tbody>
<% end %>
<%= will_paginate %>

</section>
  </aside>
</div>
<br/>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>




  <% if @courses.empty?%>
  <h6>Create your first course</h6>
  <%end%>


</table>




<br />
<%= link_to "Exportar a excel", courses_path(:format => 'csv') %>
<%= link_to 'Crear Curso', new_course_path, class: "btn btn-large btn-primary" %>
