<p ><%= flash[:notice]  %></p>
<div class="row ">
    <aside class="span10">
        <section>
	        <table class="table">
          		<thead>
			        <th style="width:528px"><h1> Lista de cursos </h1>	<p>Total de cursos:<%= @total %></p></th>
		        <th> 

                <%= link_to "Exportar a excel", courses_path(:format => 'csv'), class: "btn" %>
                <%= link_to "Crear curso", new_course_path, class: "btn btn-primary" %>          
				
				 
                    </th>
              </thead>
            </table>


            <br/>
            <% if @courses.empty?%>
             <h6>Aun no hay cursos. <%= link_to 'Crea el primero ahora', new_course_path %></h6>
            <% else %>

            <table class="table table-bordered">
              <thead>
                <th><%= sort_link @search, :name%></th>
                <th><%= Course.human_attribute_name("category") %></th>
                <th><%= Course.human_attribute_name("limit_class_tickets") %></th>
                <th><%= Course.human_attribute_name("owned") %></th>
                <th></th>
                <th></th>
                <th></th>
              </thead>


            <% @courses.each do |course| %>
               <tbody>	
	            <td><%= course.name %></td>
                	<td><%= course.category %></td>
                	<td><%= course.limit_class_tickets %></td>
            <% if course.owned == TRUE %>
                	<td>si</td>
			<% elsif%>
				<td>no</td>
            <% end %>
                	<td><%= link_to 'Ver', course %></td>
                	<td><%= link_to 'Editar', edit_course_path(course) %></td>
                	<td><%= link_to 'Eliminar', course, confirm: '¿Estas seguro?', method: :delete %></td>
					
               </tbody>
            <% end %>

            <%end%>
            </table>

        </section>
    </aside>
</div>

