

<div class="center hero-unit">
  <h1>Bienvenido a Kaleydoscopio</h1>

  <h2>
    Es una pagina para gestionar 
    <a href="#">Cursos</a>
    version de Desarrollo
  </h2>
  <%= link_to "Crear curso", new_course_path, class: "btn btn-large btn-primary" %>
</div>


<div class="row">
  <aside class="span10">
    <section>
      <h1>
				Lista de cursos
			</h1>


<p>Total cursos:<%= @total %></p>
<%= sort_link @search, :name%>
<table>

  <tr>
    <th>Nombre</th>
    <th>Categoria</th>
    <th>Fecha</th>
    <th>Precio</th>
    <th>Propietario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>







<% @courses.each do |course| %>

    <h1><%= Course.human_attribute_name("name") %></h1>
		<%= course.name %>
    <h1><%= Course.human_attribute_name("category") %></h1>
		<%= course.category %>
    
    <h1><%= Course.human_attribute_name("date_time") %></h1>
		<%= course.date_time %>
    
    <h1><%= Course.human_attribute_name("price") %>Price</h1>
		<%= course.price %>
    
    <h1><%= Course.human_attribute_name("Owned") %></h1>
		<%= course.owned %>
    <%= link_to 'Show', course %>
    <%= link_to 'Edit', edit_course_path(course) %>
    <%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %>
<% end %>
</section>
  </aside>
</div>
<br/>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<p><%= flash[:notice] %></p>



  <% if @courses.empty?%>
  <h6>Create your first course</h6>
  <%end%>


</table>




<br />
<%= link_to "Exportar a excel", courses_path(:format => 'csv') %>
<%= link_to 'Crear Curso', new_course_path, class: "btn btn-large btn-primary" %>
