<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Category:</b>
  <%= @course.category %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @course.photo %>
</p>

<p>
  <b>Teacher name:</b>
  <%= @course.teacher_name %>
</p>

<p>
  <b>Biography teacher:</b>
  <%= @course.biography_teacher %>
</p>

<p>
  <b>Place:</b>
  <%= @course.place %>
</p>

<p>
  <b>Google map:</b>
  <%= @course.google_map %>
</p>

<p>
  <b>Date time:</b>
  <%= @course.date_time %>
</p>

<p>
  <b>Requisites student:</b>
  <%= @course.requisites_student %>
</p>

<p>
  <b>Price link:</b>
  <%= @course.price_link %>
</p>

<p>
  <b>Limt class tickets:</b>
  <%= @course.limt_class_tickets %>
</p>

<p>
  <b>Facebook link:</b>
  <%= @course.Facebook_link %>
</p>

<p>
  <b>Kaleyoscopio class:</b>
  <%= @course.Kaleyoscopio_class %>
</p>

<p>
  <b>Teaser:</b>
  <%= @course.teaser %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
