<p id="notice"><%= notice %></p>

<p>
  <b>Classname:</b>
  <%= @course.classname %>
</p>

<p>
  <b>Category:</b>
  <%= @course.category %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @course.photo %>
</p>

<p>
  <b>Teachername:</b>
  <%= @course.teachername %>
</p>

<p>
  <b>Bioteacher:</b>
  <%= @course.bioteacher %>
</p>

<p>
  <b>Place:</b>
  <%= @course.place %>
</p>

<p>
  <b>Googlemap:</b>
  <%= @course.googlemap %>
</p>

<p>
  <b>Date:</b>
  <%= @course.date %>
</p>

<p>
  <b>Requisitesstudent:</b>
  <%= @course.requisitesstudent %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Linkay:</b>
  <%= @course.linkay %>
</p>

<p>
  <b>Limitclasstickets:</b>
  <%= @course.limitclasstickets %>
</p>

<p>
  <b>Linkfacebook:</b>
  <%= @course.linkFacebook %>
</p>

<p>
  <b>Kaleydoscopioclass:</b>
  <%= @course.Kaleydoscopioclass %>
</p>

<p>
  <b>Teaser:</b>
  <%= @course.teaser %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
