<p id="notice"><%= notice %></p>

<p>

  <b>Name:</b>

  <%= @course.name %>
</p>

<p>
  <b>Category:</b>
  <%= @course.category %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @course.photo_url %>
</p>

<p>

  <b>Teacher name:</b>

  <%= @course.teacher_name %>
</p>

<p>

  <b>Biography teacher:</b>

  <%= @course.biography_teacher %>
</p>

<p>
  <b>Photo teacher:</b>
  <%= image_tag @course.photo_teacher_url %>
</p>

<p>
  <b>Place:</b>
  <%= @course.place %>
</p>

<p>
  <b>Google map:</b>
  <%= @course.google_map.html_safe %>
</p>

<p>
  <b>Date time:</b>

  <%= @course.date_time %>
</p>

<p>
  <b>Requisites student:</b>
  <%= @course.requisites_student %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Pay link:</b>
  <%= @course.status %>
</p>

<p>
  <b>Limit class tickets:</b>
  <%= @course.limit_class_tickets %>
</p>

<p>
  <b>Facebook link:</b>
  <%= @course.facebook_link %>
</p>

<p>
  <b>Owned:</b>
  <%= @course.owned %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>




 ----------------------






-----------------


