
<div class="row">
  <aside class="span10">
    <section>
      <h1>
				Lista de cursos
			</h1>


<a href='?utf8=✓&search[category_in][]=open&commit=Crear+Search' >Open</a>
<a href='?utf8=✓&search[category_in][]=soldout&commit=Crear+Search' >Soldout</a>
<%=link_to'Todo'%>
<a href='?utf8=✓&search[category_in][]=completed&commit=Crear+Search' >Completed</a>
---------------------------------------------------
-------------------------------------------------
<%= form_for @search, :url => vindex_path, :html => {:method => :get} do |f| %>
  <% f.checks :category_in, [['Open', 'open'], ['Sold out', 'soldout'], ['Completed', 'completed']], :class => 'checkboxy'  do |check| %>
    <li>
      <% check.box %>
      <% check.label %>
    </li>
  <% end %>
  <!-- etc... -->
  <% f.submit %>
<% end %>
--------------------------------------------------
<% if @courses.empty?%>
  <h6>Create your first course</h6>
 <%end%>
---------------------------------------------


<% @courses.each do |course| %>

    <h1><%= Course.human_attribute_name("name") %></h1>
		<%= course.name %>
    <h1><%= Course.human_attribute_name("price") %>Price</h1>
		<%= course.price %>
    <h1><%= Course.human_attribute_name("photo") %></h1>
		<%= course.photo %>
    <h1><%= Course.human_attribute_name("description") %></h1>
		<%= truncate(course.description, :omission => "...(continued)") %>  
      
    <h1><%= Course.human_attribute_name("Owned") %></h1>
		<%= course.owned %>
    <h1><%= Course.human_attribute_name("date_time") %></h1>
		<%= course.date_time %>
    <h1><%= Course.human_attribute_name("category") %></h1>
		<%= course.category %>
<% end %>
</section>
  </aside>
</div>

