<meta http-equiv="Content-Type" content="text/html; charset="utf-8">

<!-- Fonts
================================================== -->

<link href='http://fonts.googleapis.com/css?family=Anton|Signika:400,300,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Mobile Specific Metas
================================================== -->

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="text/javascript" src="http://use.typekit.com/qvj6cvf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<title><%= full_title(yield(:title)) %></title>
<link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
  <%= stylesheet_link_tag "reset", :media => "all" %>
<%= stylesheet_link_tag "base", :media => "all" %>
 <%= stylesheet_link_tag "flexslider", :media => "all" %>
 <%= stylesheet_link_tag "layout", :media => "all" %>
  <%= stylesheet_link_tag "superfish", :media => "all" %>

  <%= stylesheet_link_tag "prettyPhoto", :media => "all" %>
  <%= stylesheet_link_tag "skeleton", :media => "all" %>

  <%= stylesheet_link_tag "main", :media => "all" %>


  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "tabs" %>
  <%= javascript_include_tag "slider" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "jquery.easing.min" %>
  <%= javascript_include_tag "jquery.lavalamp" %>
  <%= javascript_include_tag "superfish" %>
  <%= javascript_include_tag "jquery.carousel" %>
  <%= javascript_include_tag "jquery.prettyphoto" %>
  <%= javascript_include_tag "jquery.tipTip" %>



