<!--<meta http-equiv="Content-Type" content="text/html; charset="utf-8">

 Fonts
================================================== -->

<link href='http://fonts.googleapis.com/css?family=Anton|Signika:400,300,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- Mobile Specific Metas
================================================== -->

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel='stylesheet' id='coloroptions-css'  href='app/assets/stylesheets/coloroptions.php' type='text/css' media='all' />
<title>kaleydoscopio</title>

<!--
<link rel="alternate" type="application/rss+xml" title="kaleydoscopio RSS Feed" href="http://localhost/kaleydoscopio/?feed=rss2">
<link rel="alternate" type="application/rss+xml" title="kaleydoscopio Comments RSS Feed" href="http://localhost/kaleydoscopio/?feed=comments-rss2"  />
<link rel="pingback" href="http://localhost/kaleydoscopio/xmlrpc.php">	


<script>
mixajaxurl = "http://localhost/kaleydoscopio/wp-admin/admin-ajax.php";
</script>

<script>var preloadimg = 'IMGURL/preload_img.gif';</script><link rel="alternate" type="application/rss+xml" title="kaleydoscopio &raquo; Feed" href="http://localhost/kaleydoscopio/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="kaleydoscopio &raquo; Comments Feed" href="http://localhost/kaleydoscopio/?feed=comments-rss2" />
<link rel="alternate" type="application/rss+xml" title="kaleydoscopio &raquo; 2 Column Portfolio Comments Feed" href="http://localhost/kaleydoscopio/?feed=rss2&#038;page_id=64" />
<link rel='stylesheet' id='admin-bar-css'  href='css/admin-bar.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "admin-bar", :media => "all" %>
<link rel='stylesheet' id='reset-css'  href='css/reset.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "reset", :media => "all" %>
<link rel='stylesheet' id='base-css'  href='css/base.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "base", :media => "all" %>
<link rel='stylesheet' id='skeleton-css'  href='css/skeleton.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "skeleton", :media => "all" %>
<link rel='stylesheet' id='layout-css'  href='css/layout.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "layout", :media => "all" %>
<link rel='stylesheet' id='main-css'  href='css/main.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "main", :media => "all" %>
<link rel='stylesheet' id='superfish-css'  href='css/superfish.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "superfish", :media => "all" %>
<link rel='stylesheet' id='flexslider-css'  href='css/flexslider.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "flexslider", :media => "all" %>
<link rel='stylesheet' id='prettyPhoto-css'  href='css/prettyPhoto.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "prettyPhoto", :media => "all" %>
<link rel='stylesheet' id='audioplayer-css'  href='ext/audioplayer/blue/style.css' type='text/css' media='all' />
  <%= stylesheet_link_tag    "base", :media => "all" %>
<link rel='stylesheet' id='coloroptions-css'  href='css/coloroptions.php' type='text/css' media='all' />
<script type='text/javascript' src='js/jquery/jquery.js'></script>

<script type='text/javascript' src='js/tabs.js'></script>


<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://localhost/kaleydoscopio/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://localhost/kaleydoscopio/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='4 Column Portfolio' href='http://localhost/kaleydoscopio/?page_id=60' />
<link rel='next' title='Portfolio with Sidebar' href='http://localhost/kaleydoscopio/?page_id=67' />
<meta name="generator" content="WordPress 3.3.1" />
<link rel='canonical' href='http://localhost/kaleydoscopio/?page_id=64' />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css" media="print">#wpadminbar { display:none; }</style>
<style type="text/css" media="screen"></style>

<script type="text/javascript" src="http://use.typekit.com/qvj6cvf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script type="text/javascript" src="http://use.typekit.com/qvj6cvf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
-->
  <%= stylesheet_link_tag    "base", :media => "all" %>
  <%= stylesheet_link_tag    "coloroptiones.php", :media => "all" %>
  <%= stylesheet_link_tag    "flexslider", :media => "all" %>
  <%= stylesheet_link_tag    "layout", :media => "all" %>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= stylesheet_link_tag    "prettyPhoto", :media => "all" %>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "skeleton", :media => "all" %>
  <%= stylesheet_link_tag    "base", :media => "all" %>





  <%= javascript_include_tag "jquery.carousel.min" %>
  <%= javascript_include_tag "jquery.easing.min" %>
  <%= javascript_include_tag "jquery.lavalamp" %>
  <%= javascript_include_tag "jquery.mobile.customized.min" %>
  <%= javascript_include_tag "jquery.preloader" %>
  <%= javascript_include_tag "jquery.prettyPhoto" %>
  <%= javascript_include_tag "jquery.tipTip" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "slider" %>
  <%= javascript_include_tag "superfish" %>
  <%= javascript_include_tag "tabs" %>
  <%= javascript_include_tag "jquery.ui.widget.min" %>
  <%= javascript_include_tag "AudioPlayerV1" %>
