<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Kaleydoscopio", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio",    root_path %></li>
          <li><%= link_to "Cursos",    courses_path %></li>
          <li><%= link_to "Conocenos",    conocenos_path %></li>
          <li><%= link_to "Terminos y Condiciones",    terminos_path %></li>
          <li><%= link_to "Entrar", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

