<!DOCTYPE html>
<html>
<head>
  <title>Kaleydoscopio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>



  <%= stylesheet_link_tag    "custom", :media => "all" %>



<script type="text/javascript">
$(document).ready(function () {
$('#course_date_time').datetimepicker();
});
  </script>
  <%= csrf_meta_tags %>
<%= render 'layouts/shim' %> 
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
      

<div id="user_nav">
  <% if admin_signed_in? %>
    Signed in as <%= current_admin.email %>
    <%= link_to "Salir", destroy_admin_session_path, :method => :delete %>
  <% end %>
</div>

	
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>

</html>
