<%= render 'layouts/shim-front' %>
<head>
  <%= render 'layouts/head-front' %>
  <% unless @course == nil %>
   <%= ('<meta property="og:title" content=" Claseteca | ' + @course.name  + ' " />').html_safe %>
  <meta property="og:type" content="website" />
  <%= ('<meta property="og:url" content="' + curso_url(@course) + '" />').html_safe %>
  <%= ('<meta property="og:image" content="' + @course.photo.large.url.to_s + '" />').html_safe %>
  <meta property="og:site_name" content="CLASETECA" />
  <meta property="fb:admins" content="589571332" />
  <META name="keywords" content="Clases,Talleres,Cursos,Clases de cocina,Clases deportivas,Clases Crossfit,Clases de repostería,Clases de baile,Clases de música,Clases de defensa personal ">
  <META name="description" content="Descripcion de la pagina sin og">

  <% end %>

    <script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-35815566-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>

</head>


<body class="page page-id-64 page-template page-template-portfolio_2-php logged-in admin-bar">
	<%= render 'layouts/header-front' %> <!-- // HEADER -->
  <div class="container">
		<div class="sixteen columns alpha omega portpage">
			<!--<%= render 'layouts/Sort-by-front' %> <!-- // Sort by Bar -->
		      <%= yield %>

    </div>
	</div><!-- // close container contentwrapper -->
	<div class="clear"></div>
	<%= render 'layouts/footer-front' %> <!-- // FOOTER -->
</body>

</html>
