<%= render 'layouts/shim-front' %>
<head>
  <%= render 'layouts/head-front' %>

  <meta property="og:title" content="Clases interesantes para personas curiosas." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://kaleydoscopio.herokuapp.com" />
  <meta property="og:image" content="http://kaleydoscopio.herokuapp.com/assets/posttypes/image1.png" />
  <meta property="og:site_name" content="KALEYDOSCOPIO" />
  <meta property="fb:admins" content="589571332" />
  "

<body class="page page-id-64 page-template page-template-portfolio_2-php logged-in admin-bar">
	<%= render 'layouts/header-front' %> <!-- // HEADER -->
  <div class="container">
		<div class="sixteen columns alpha omega portpage">
			<!--<%= render 'layouts/Sort-by-front' %> <!-- // Sort by Bar -->
		      <%= yield %>

    </div>
	</div><!-- // close container contentwrapper -->
	<div class="clear"></div>
	<%= render 'layouts/footer-front' %> <!-- // FOOTER -->
</body>

</html>
