<%= render 'layouts/shim-front' %>
<head>
  <%= render 'layouts/head-front' %>
  <%= ('<meta property="og:title" content=" Kaleydoscopio | ' + @course.name  + ' " />').html_safe %>
  <meta property="og:type" content="website" />
  <%= ('<meta property="og:url" content="' + curso_url(@course) + '" />').html_safe %>
  <%= ('<meta property="og:image" content="' + @course.photo.large.url.to_s + '" />').html_safe %>
  <meta property="og:site_name" content="KALEYDOSCOPIO" />
  <meta property="fb:admins" content="589571332" />


</head>


<body class="page page-id-64 page-template page-template-portfolio_2-php logged-in admin-bar">
	<%= render 'layouts/header-front' %> <!-- // HEADER -->
  <div class="container">
		<div class="sixteen columns alpha omega portpage">
			<!--<%= render 'layouts/Sort-by-front' %> <!-- // Sort by Bar -->
		      <%= yield %>

    </div>
	</div><!-- // close container contentwrapper -->
	<div class="clear"></div>
	<%= render 'layouts/footer-front' %> <!-- // FOOTER -->
</body>

</html>
