<%= render 'layouts/shim-front' %>
<head>
	<%= render 'layouts/head-front' %>
</head>

<body class="page page-id-64 page-template page-template-portfolio_2-php logged-in admin-bar">
	<%= render 'layouts/header-front' %> <!-- // HEADER -->
		      <%= yield %>
	</div><!-- // close container contentwrapper -->
	<div class="clear"></div>
	<%= render 'layouts/footer-front' %> <!-- // FOOTER -->
</body>
</html>
